# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
config/
dist/
*.egg-info/

# Unit test / coverage / linter caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Tool caches
.uv/
